input{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}
input[type=submit] {
    background-color: #f4f5f4;
    border: 2px solid lightgreen;
    color: rgb(7, 7, 7);
}
input[type=submit]:hover {
    background-color: lightgreen;
    color: rgb(7, 7, 7);
}
        
